/* .imageMotion.scss */
.carousel-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Đảm bảo popup bao quanh ảnh phóng to có thể căn giữa */
.fixed-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  /* Màu nền tối với độ mờ */
  z-index: 9999;
  /* Đảm bảo popup luôn ở trên cùng */
}

/* Các ảnh phóng to có shadow và căn giữa */
.full-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  /* Tạo hiệu ứng shadow cho ảnh */
}

/* Ảnh phóng to */
.full-image {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.popup-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.popup-nav-btn.left {
  left: -50px;
}

.popup-nav-btn.right {
  right: -50px;
}