.about-container {
  justify-items: center;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;

  .under-header {
    height: 100px;
  }

  .hero {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, #C9F31D, #E0FF7E);
    color: #222222;
    padding: 40px;
    border-radius: 10px;

    h1 {
      font-size: 2.5rem;
    }

    p {
      color: #222222;
    }
  }
}