.footer {
  background-color: #111;
  color: #fff;
  padding-top: 80px;

  .footer__top {
    padding-bottom: 40px;

    .footer__about {
      p {
        margin-bottom: 10px;
      }
      .footer__email {
        color: #f0f0f0;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer__social {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 24px;

      li a {
        display: inline-flex;
        width: 36px;
        height: 36px;
        align-items: center;
        justify-content: center;
        background-color: #222;
        color: #fff;
        border-radius: 50%;
        font-size: 18px;

        &:hover {
          background-color: #555;
        }
      }
    }
  }

  .footer__bottom {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    align-items: center;
    text-align: center;

    .footer__links {
      li a {
        margin: 5px;
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
