.programs-container {
    justify-items: center;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;

    .under-header {
        height: 100px;
    }

    .hero {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        background: linear-gradient(to right, #ff7e5f, #feb47b);
        color: white;
        padding: 40px;
        border-radius: 10px;

        h1 {
            font-size: 2.5rem;
        }

        p {
            color: #fff;
        }
    }

    .section-1 {
        display: flex;
        max-width: 80%;
        margin-top: 40px;
        padding: 20px;
        border-left: 5px solid #ff7e5f;
        background: #f9f9f9;
        border-radius: 5px;

        .content-left {
            flex: 3;

            h2 {
                color: #333;
            }

            p {
                font-size: 1.1rem;
                line-height: 1.6;
                margin-bottom: 10px;
            }
        }

        .content-right {
            flex: 2;
            margin-left: 20px;
            justify-items: center;
            text-align: center;
        }

        .section {
            margin-top: 40px;
            padding: 20px;
            border-left: 5px solid #ff7e5f;
            background: #f9f9f9;
            border-radius: 5px;

            h2 {
                color: #333;
            }

            p {
                font-size: 1.1rem;
                line-height: 1.6;
                margin-bottom: 10px;
            }
        }
    }

    .section-2 {
        text-align: center;
        padding: 50px 20px;

        h2 {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 30px;
            position: relative;
            display: inline-block;
            padding: 15px 0;

            &:before,
            &:after {
                content: "";
                display: block;
                width: 500px;
                height: 3px;
                background-color: #d19884;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            &:before {
                top: -20px;
            }

            &:after {
                bottom: -20px;
            }
        }

        p {
            font-size: 20px;
            color: #fff;
            max-width: 93%;
            margin: 20px auto;
            line-height: 1.8;
        }
    }

    .section-3 {
        margin: 20px auto;

        .reasons-container {
            background-color: #fff;
            padding: 30px;
            border: 2px solid #000;
            max-width: 800px;
            margin: 20px auto;
            justify-content: center;
            justify-items: center;
        }

        .reasons-content {
            display: flex;
            align-items: flex-start;

            .number {
                font-size: 60px;
                font-weight: bold;
                color: #bee6e0;
                margin-right: 20px;
            }

            .text-content {
                h2 {
                    color: #000;
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                p {
                    color: #000;
                    font-size: 16px;
                    line-height: 1.6;
                    margin-top: 10px;
                }
            }
        }
    }

    .section-4 {
        margin: 20px auto;
        text-align: center;
        padding: 50px 20px;
        background: linear-gradient(to bottom, #fff, #fdf3ed);
        color: #333;

        .find {
            .container {
                max-width: 800px;
                margin: 0 auto;
            }

            .title {
                font-size: 36px;
                font-weight: bold;
                margin-bottom: 15px;
            }

            .list {
                text-align: left;
                font-size: 18px;
                line-height: 1.8;
                padding: 0;
                list-style: none;

                .list-item {
                    margin-bottom: 15px;
                }

                .subtext {
                    font-style: italic;
                    color: #777;
                }
            }
        }

        .in-short {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 60px 20px;
            background: transparent;

            .container {
                max-width: 800px;
                text-align: center;
                padding: 50px 30px;
                border: 3px solid #c2dcd3;
                border-radius: 10px;
                position: relative;
                background: white;
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
            }

            .heading {
                position: absolute;
                top: -18px;
                left: 50%;
                transform: translateX(-50%);
                background: white;
                padding: 0 20px;
                font-size: 28px;
                font-weight: bold;
                color: #333;
                display: flex;
                align-items: center;
            }

            .script-text {
                background: transparent;
                font-family: "Brush Script MT", cursive;
                font-size: 36px;
                color: #c97a63;
            }

            .bold-text {
                color: #000;
                font-size: 22px;
                margin-top: 10px;
            }

            .description {
                font-size: 18px;
                line-height: 1.6;
                color: #444;
                margin-top: 15px;
            }
        }
    }

    .section-5 {
        margin: 20px auto;
        padding: 60px 15px;
        background-color: #000;
    
        .container {
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
        }
    
        .section-header {
            margin-bottom: 30px;
            justify-items: center;
            word-spacing: 2px;
    
            .title {
                font-size: 36px;
                font-weight: bold;
                margin-bottom: 10px;
                color: #fff;
            }
    
            .subtitle {
                font-size: 18px;
                font-weight: 300;
                color: #fff;
            }
        }
    
        .video-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
    
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }
    
        .video-item {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            background-color: #000;
    
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    
            .video-title {
                margin-top: 8px;
                font-size: 14px;
                font-weight: 500;
                color: #444;
            }
        }
    
        @media (max-width: 768px) {
            .section-header {
                .title {
                    font-size: 28px;
                }
            }
        }
    }
}